.logForm {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logForm div {
    margin: 5px ;
}

.logForm section {
    text-align: center;
}

.logForm button {
    margin: 5px 0;
}