.regForm {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.regForm div {
    margin: 5px ;
}

.regForm section {
    text-align: center;
}

.regForm button {
    margin: 5px 0;
}

.regForm svg {
    cursor: pointer;
}