.search input::placeholder, 
.search input
{
    color: #bcbcbc;
}

.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
}

.userChat:hover {
    opacity: 0.5;
}

.userChatImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

