* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cae4ff;
}

a {
    text-decoration: none;
    color: inherit;
}
 
.form {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-name {
    margin-bottom: 5px;
    font-size: 25px;
    color: #55A5DF;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.profile {
    width: 65%;
    height: 80%;
    border: 1px solid #55A5DF;
    border-radius: 10px;
    display: flex;
}